<div class="col-md-12" style="margin-bottom: 15px ;background-color: white">
  <div class="col-md-12">
    <fieldset class="">
      <div class="row">
        <div class="col-md-1">
          <a href="" class="hoverMe" data-placement="right">
          <div>
            <div class="bedgreeen" *ngFor="let bed of beds">
              <i class="fa fa-bed" style="font-size: 60px;color : green;" >{{bed.name}}</i>
          </div>
          </div>
          </a>
        </div>

      </div>
  </fieldset>
</div>
</div>
